<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>498584888252-0sm1djq038f9h8u7me78junfc1km40j7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.498584888252-0sm1djq038f9h8u7me78junfc1km40j7</string>
	<key>API_KEY</key>
	<string>AIzaSyAO4vSvrZ-AG5-VRA6909L53mhuqNPRSsY</string>
	<key>GCM_SENDER_ID</key>
	<string>498584888252</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.recoup-technical-assessment</string>
	<key>PROJECT_ID</key>
	<string>recoup-assessment</string>
	<key>STORAGE_BUCKET</key>
	<string>recoup-assessment.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:498584888252:ios:c274859afb038c10d741b9</string>
</dict>
</plist>